/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
 }
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
 }
body {
    background: linear-gradient(#041833, #04244f, #154580);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1;
    min-height: 100vh;
 }
ol,
ul {
    list-style: none;
 }
blockquote,
q {
    quotes: none;
 }
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
 }
table {
    border-collapse: collapse;
    border-spacing: 0;
 }
.banner {
    margin-bottom: 1.5rem;
    position: relative;
    width: auto;
 }
.banner__imagem {
    width: 100%;
 }
.banner__titulo {
    color: #ffffff;
    font-size: 40px;
    left: 80px;
    line-height: 50px;
    position: absolute;
    top: 80px;
    width: 350px;
 }
.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 4rem 0;
 }
.cabecalho__busca {
    align-items: center;
    background: linear-gradient(45deg, #c98cf1, #7b78e5);
    border-radius: 10px;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 2px;
    width: auto;
 }
.form__input {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 44px;
    width: 520px;
 }
.form__input:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
 }
.form_login {
    display: flex;
    justify-content: center;
 }
.input__login {
    border: 2px solid #c98cf1;
    border-radius: 18px;
    padding: 8px;
    padding: 10px;
 }
.input__login:focus {
    outline: #8b62a6 auto 1px;
 }
.login_opcs {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
 }
.form-check {
    align-items: center;
    display: flex;
 }
.form-check-input {
    appearance: none;
    background-color: #e6e4e9;
    border-color: #7b78e5;
    border-radius: 3px;
    cursor: pointer;
    height: 20px;
    margin: 0;
    margin-right: 0.5rem;
    width: 20px;
 }
.form-check-input[type="checkbox"]:checked {
    background-color: #7b78e5;
    border: none;
 }
.form-check-input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
 }
.form-check-label {
    color: white;
    cursor: pointer;
    font-size: 1rem;
 }
.forgot-password {
    font-size: 1rem;
 }
.forgot-password a {
    color: white;
    text-decoration: none;

    /* Cor do link */
 }
.forgot-password a:hover {
    text-decoration: underline;

    /* Adicionando sublinhado ao passar o mouse */
 }
.check-label {
    align-items: flex-start;
    box-sizing: content-box;
    color: white;
    cursor: pointer;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    margin-top: 10px;
    min-width: 0;
    padding: 6px;
    width: 100%;
 }
.button_login {
    background: linear-gradient(45deg, #c98cf1, #7b78e5);
    border: none;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    padding: 10px;
 }
.button_login:hover,
.button_login:focus,
.button_login:active:focus {
    background: linear-gradient(45deg, #9064ad, #5956a5);
 }
.busca__fundo {
    align-items: center;
    background-color: #041a37;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    width: 100%;
 }
.busca__input {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    height: 24px;
    padding: 10px;
    -webkit-tap-highlight-color: transparent;

width: calc(
    100% - 60px
  ); 
    /* Ajuste da largura para que seja igual à largura do contêiner - a largura do botão */
 }
.busca__icone {
    align-items: center;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
 }
.button__busca {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 44px;
    justify-content: center;
    margin-right: 1px;
    text-align: center;
    text-decoration: none;
    width: 40px;
 }
.cards {
    width: 100%;
 }
.cards__titulo {
    color: #7b78e5;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
 }
.cards__lista {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
.card {
    border-radius: 10px;
    box-shadow: 0px 10px 10px #00000050;
    color: #ffffff;
    margin-bottom: 1.5rem;
    position: relative;
    width: 450px;
 }
.card__imagem {
    border-radius: 10px 10px 0 0;
    height: 250px;
    object-fit: cover;
    width: 450px;
 }
.card__tag {
    background-color: #d9d9d940;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1.2rem;
    left: 310px;
    margin-right: 1.5rem;
    padding: 0.5rem 0.5rem;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100px;
 }
.card__info {
    font-size: 1.2rem;
    padding: 0 1.5rem 1rem 1.5rem;
 }
.card__titulo {
    font-weight: bold;
    line-height: 1.2rem;
    margin-top: 0.8em;
 }
.card__texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
.card__texto img {
    cursor: pointer;
 }
.card__descricao {
    font-size: 0.6em;
    margin-top: 0.8em;
 }
.galeria {
    display: flex;
    width: 100%;
 }
.imagem {
    align-items: center;
    display: flex;
    justify-content: center;
 }
.imagem__conteudo {
    background-color: transparent;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    width: 950px;
 }
.imagem__imagem {
    border-radius: 20px;
    width: 100%;
 }
.imagem__info {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
 }
.imagem__texto {
    color: #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5rem;
 }
.imagem__texto {
    font-size: 1rem;
 }
.imagem__descricao {
    font-size: 0.7rem;
 }
.menu-lateral {
    box-sizing: border-box;
    min-width: 270px;
    padding-right: 1.5rem;
 }
.menu-lateral__navegacao {
    display: flex;
    flex-direction: column;
 }
.menu-lateral__navegacao a {
    align-items: center;
    color: #d9d9d9;
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    margin-bottom: 1.5rem;
    text-decoration: none;
 }
.menu-lateral__navegacao img {
    margin-right: 1.5rem;
 }
.pagina-inicial {
    margin: 0 auto;
    max-width: 1440px;
    padding: 1.5rem;
 }
.populares {
    margin-left: 1.5rem;
 }
.populares__titulo {
    color: #7b78e5;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
 }
.populares__imagens {
    display: flex;
    flex-direction: column;
 }
.populares__imagem {
    margin-bottom: 1.5rem;
 }
.populares__botao {
    background: linear-gradient(45deg, #c98cf1, #7b78e5);
    border-radius: 10px;
    box-sizing: border-box;
    height: 50px;
    padding: 2px;
    width: 100%;
 }
.populares__link {
    align-items: center;
    background-color: #082d5c;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    transition: 0.5s;
    width: 100%;
 }
.populares__link:hover {
    background: transparent;
 }
.principal {
    display: flex;
    justify-content: space-between;
 }
.rodape {
    background-color: #04244f;
    bottom: 0;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 1.5rem 3rem;
    position: fixed;
    width: 100%;
 }
.rodape__icones {
    display: flex;
    justify-content: space-between;
    width: 80px;
 }
.rodape__texto {
    font-size: 1.1rem;
 }
.clear {
    clear: both;
    height: 80px;
 }
.tags {
    align-items: center;
    color: #d9d9d9;
    display: flex;
    font-size: 1.3rem;
    padding: 1.5rem 0;
 }
.tags__titulo {
    margin-right: 4rem;
 }
.tags__lista {
    display: flex;
 }
.tags__tag {
    background-color: #d9d9d930;
    border: 2px solid transparent;
    border-radius: 8px;
    margin-right: 1.5rem;
    padding: 0.8rem 0.5rem;
    text-align: center;
    width: 100px;
 }
.tags__tag:hover {
    border: 2px solid #7b78e5;
    cursor: pointer;
 }

@media only screen and (min-width: 416px) and (max-width: 960px) {
  body {
      background-repeat: repeat;
   }
  .form__input {
      width: 400px;
   }
  .menu-lateral {
      padding-right: 0px;
   }
  .menu-lateral__navegacao {
      flex-direction: row;
      justify-content: space-between;
   }
  .menu-lateral__navegacao img {
      margin-right: 0.8rem;
   }
  .principal {
      flex-direction: column;
   }
  .card {
      width: 720px;
   }
  .card__tag {
      left: 400px;
   }
  .cards__lista {
      justify-content: center;
   }
  .card__imagem {
      width: 100%;
   }
  .rodape {
      align-items: center;
      flex-direction: column;
   }
  .rodape__icones {
      margin-top: 1rem;
   }
  .tags {
      align-items: center;
      flex-direction: column;
   }
  .tags__titulo {
      margin-bottom: 1rem;
      margin-right: 0;
   }
  .tags__lista {
      flex-wrap: wrap;
   }
  .banner__titulo {
      font-size: 40px;
      left: 30px;
      top: 25px;
      width: 400px;
   }
    /* Tablet styles */
 }
@media only screen and (max-width: 415px) {
  body {
      background-repeat: repeat;
   }
  .banner__imagem {
      width: 135%;
   }
  .principal {
      flex-direction: column;
   }
  .form__input {
      width: 210px;
   }
  .menu-lateral {
      display: flex;
      justify-content: center;
      min-width: 465px;
      padding-right: 0rem;
   }
  .menu-lateral__navegacao {
      flex-direction: row;
      justify-content: space-between;
   }
  .menu-lateral__navegacao a {
      font-size: 0;
   }
  .menu-lateral__navegacao a img {
      width: 40px;
   }
  .populares__imagens {
      flex-direction: column;
   }
  .populares__imagem {
      width: 100%;
   }
  .tags {
      align-items: flex-start;
      flex-direction: column;
   }
  .tags__tag {
      margin-bottom: 1rem;
      width: auto;
   }
  .banner__titulo {
      font-size: 25px;
      left: 30px;
      top: 15px;
      width: 300px;
   }
  .cabecalho__busca {
      width: 70%;
   }
  .cabecalho {
      margin: 1.5rem 0 2rem 0;
   }
  .tags__titulo {
      margin-bottom: 1rem;
   }
  .rodape {
      width: 130%;
   }
    /* Mobile styles */
 }
.ativo {
    color: #7b78e5 !important;
    font-weight: bold;
 }
.form_alert,
.form_error,
.form_warning {
    align-items: center;
    color: #fc7a7a;
    display: flex;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 12px;
 }
.form_success {
    align-items: center;
    color: #75c575;
    display: flex;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 12px;
 }
@media (min-width: 992px) {
  .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
   }
 }
.col-12 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;
 }
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
 }
.row > * {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    width: 100%;
 }
.btn {
          align-items: center;
          font-size: 1rem;
       }
.foto_input {
      color: white;
      cursor: pointer;
   }
.btn-editar,
.btn-deletar {
      align-items: center;
      background: linear-gradient(45deg, #c98cf1, #7b78e5);
      border: none;
      border-radius: 13px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      margin: 4px;
      padding: 10px 20px;
      text-decoration: none;
      transition: background-color 0.3s ease;
   }
.btn-editar:hover,
.btn-deletar:hover {
      background: linear-gradient(45deg, #9064ad, #5956a5);
   }
.btns {
      display: flex;
      flex-direction: column;
      float: right;
      justify-content: right;
      margin-top: 1.5rem;
      position: relative;
   }
.imagem__titulo {
      color: #ffffff;
      font-weight: bold;
      line-height: 2rem;
      position: relative;
   }
.btn__tag {
    font-size: 20px;
    color: #C9C9C9;
    text-decoration: none;
   }