{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="galeria form_login" style="margin-left: 5em">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %} <!-- garantir a segurança das informações -->
                    <div class="row">
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12">
                            <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-top: 15px; margin-bottom: 10px;">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="login_opcs">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Lembre de mim</label>
                        </div>

                        <div class="forgot-password">
                            <a href="#">Esqueci minha senha</a>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn col-12 button_login " style="padding: top 5px; margin-top: 40px">Entrar</button>
                    </div>
                    {% include 'partials/_alerts.html' %}
                </form>
            </section>
        </main>
    </div>
</body>
{% endblock %}

