{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                {% if item %}  
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{{ item.foto }}">
                        <div class="imagem__info">  
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ item.nome }}</p>
                                <p class="imagem__descricao">{{ item.legenda }}</p>
                                <p class="imagem__texto">{{ item.descricao }}</p>
                            </div>
                        </div>
                    </div>
                </section>
                {% else %}
                {% endif %}
            </section>
        </main>
    </div>
{% endblock %}